.form-control {
    color: var(--tertiary-color);
    font-size: 14px;
    box-shadow: var(--shadow-color);
    border-radius: 5px;
}
.template-sosmed{
    color: var(--tertiary-color);
    font-weight: 600;
    letter-spacing: 0.1em;
}
.template-sosmed:hover {
    color: var(--secondary-color);
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    background-color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
}
div.scrollmenu a {
    display: inline-block;
    color: var(--tertiary-color);
    text-align: center;
}
div.scrollmenu a:hover {
    color: var(--secondary-color);
}